/*NAV BAR*/
.navbar-default {
  padding: 0.6rem 1rem;
}

.nav-item,
.nav-link {
  padding: 0.2rem 1.3rem;
  color: white;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 15px;
}

.nav-title {
  font-size: 1.5rem;
  font-weight: bolder;
}

.round-button {
  border-radius: 40px;
}


/*=============================================
=                 FLEX RULES                  =
=============================================*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  justify-content: center
}

/*==========  End of FLEX RULES  ============*/