{% if user.is_authenticated %}
<nav class="navbar-default flex-container">
  <a class="nav-link nav-title active" href="/">SinarPerak</a>
  <div class="nav-item flex-container">
    <a class="nav-link" href="{% url 'news' %}">Berita</a>
    <a class="nav-link" href="{% url 'program-donasi' %}">Program Donasi</a>
    <a class="nav-link" href="{% url 'donation_page' %}">Riwayat Donasi</a>
    <a class="nav-link" href="{% url 'about' %}">About</a>
    <a class="nav-link" id="logout-btn" href="{% url 'logout' %}">Logout</a>
    <a class="nav-link active bg-warning font-weight-bold round-button" href="{% url 'donation_form' %}">Donasi</a>
    {# <a class="nav-link" href="/">#}
      {# <img src="https://www.w3schools.com/howto/img_avatar.png" alt="user-avatar" #} {# style="margin-left: 10px; border-radius: 50%; height: 30px">#}
      {# </a>#}
  </div>
</nav>
{% else %}
<nav class="navbar-default flex-container">
  <a class="nav-link nav-title active" href="/">SinarPerak</a>
  <div class="nav-item flex-container">
    <a class="nav-link" href="{% url 'news' %}">Berita</a>
    <a class="nav-link" href="{% url 'program-donasi' %}">Program Donasi</a>
    <a class="nav-link" href="{% url 'about' %}">About</a>
    <a class="nav-link active bg-warning font-weight-bold round-button" href="{% url 'donation_form' %}">Donasi</a>
  </div>
</nav>
{% endif %}