body {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body,
html {
  height: 100%;
}

.blue-line {
  background-color: #FFB300;
  width: 80%;
  height: 7px;
  border-radius: 50px;
  background-color: #003575;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 10px;
}

.round-button {
  border-radius: 40px;
}

.col-form-label {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 18px;
  color: #003575;
}

.form-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 3rem;
  text-align: center;

  color: #000000;
  margin: auto;
}

.btn-primary {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #003575;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px #999;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 1.2rem;
  text-align: center;

  color: #FFFFFF;
}

.btn-primary:hover {
  background-color: #003575
}

.btn-primary:active {
  background-color: #FFB300;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.content {
  width: 500px;
  height: 700px;
  background: #FFB300;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.55);
  margin: auto;
  justify-content: center;
  margin-top: 40px;
}

.content {
  width: 500px;
  /*min-height: 100px;*/
  /*height: auto;*/
  height: 700px;
  /*overflow: auto;*/
  background: #FFB300;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.55);
  margin: auto;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
}

.content-authenticated {
  height: 600px;
}

.panel-yellow {
  padding: 5%;
  height: 500px;
}

.saved-data {
  margin-top: 30px;
  background-color: #003575;
  color: white;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  width: 55%;
  height: 100%;
  left: 30px;
  text-align: center;
}

.history {
  width: 70%;
  /*min-height: 100px;*/
  /*height: auto;*/
  height: 600px;
  /*overflow: auto;*/
  background: #FFB300;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.55);
  margin: auto;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  .content {
    width: 90%;
    height: 600px;
  }

  .history {
    height: auto;
    overflow: auto;
    width: 90%
  }
}